ion-content {
  --background: var(--weather-bg-primary);
  --padding-top: 20px;
}

.weather-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}

ion-toolbar {
  --background: transparent;
  --border-style: none;
  --color: white;
  
  ion-title {
    font-weight: 600;
  }
}
