<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ 'HOME.TITLE' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <app-search-form 
      (search)="onSearch($event)" 
      (requestLocation)="onUseLocation()">
    </app-search-form>

    <div class="weather-content ion-padding">
      <app-current-weather 
        [weather]="currentWeather()">
      </app-current-weather>

      <app-forecast-list 
        [forecast]="forecast()"
        class="ion-margin-top">
      </app-forecast-list>
    </div>
  </div>
</ion-content>
